name: Release

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  release:
    types:
      - published

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Launch release process
        run: |
          make release-build-platform PLATFORM=amd64
          make release-sha

      - name: attach binaries
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v9.0.2
        
      - name: Build and push Docker image
        uses: strangelove-ventures/heighliner-build-action@v1.0.3
        with:
          platform: linux/arm64,linux/amd64
          git-ref: ${{ steps.branch-name.outputs.current_branch }}
          registry: docker.io/persistenceone
          tag: ${{ github.ref_name }}
          chain: persistencecore
          dockerfile: cosmos
          build-target: make install
          binaries: |
            - /go/bin/persistenceCore
          build-env: |
            - LEDGER_ENABLED=false
            - BUILD_TAGS=muslc
